@model UserModel
@{
    ViewData["Title"] = "Register";
}

<div class="row container-fluid">
    <div class="row gy-5">
        <div class="col-md-7 col-md-offset-2">
            <section>
                <div class="col-md-7">
                    <section><img src="~/img/imglog.png" width="600px" /></section>
                </div>
            </section>
        </div>
        <div class="col-md-3">
            <form id="registerForm" asp-controller="Account" asp-action="Create" method="post">
                <h3 class="text-secondary mt-3">Create a new account.</h3>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating mb-2">
                    <input asp-for="FirstName" class="form-control" type="text" aria-required="true" />
                    <label asp-for="FirstName"></label>
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-floating mb-2">
                    <input asp-for="LastName" class="form-control" type="text" aria-required="true" />
                    <label asp-for="LastName"></label>
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-floating mb-2">
                    <input asp-for="Email" class="form-control" type="email" aria-required="true" />
                    <label asp-for="Email"></label>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-2">
                    <input asp-for="Password" class="form-control" type="password" aria-required="true" />
                    <label asp-for="Password"></label>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-floating mb-2">
                    <input asp-for="PhoneNumber" class="form-control" type="number" aria-required="true" />
                    <label asp-for="PhoneNumber"></label>
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-floating mb-2">
                    <select asp-for="Role">
                        <option value="Customer">Customer</option>
                        <option value="Landlord">Landlord</option>
                    </select>
                </div>

                <button id="registerSubmit" type="submit" class="mb-2 w-100 btn btn-lg btn-primary">Register</button>

            </form>
        </div>

    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
