html {
  font-size: 14px;
}

@media (min-width: 768px) {
 
}
.bgBtn{
    width:30%;
}
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.clapBigTxt {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.clapTxt {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}