@model ListingsModel


<div class="container" aling="center">
          
    <div class="col-md-10 mx-auto py-4">  
        <div class="card">  
            <div class="card-header bg-primary text-uppercase text-white">  
                <h4>Add New Property</h4>  
            </div>  
            <div class="card-body">  
                <form enctype="multipart/form-data" asp-action="CreateListing">  
                    <div class="row">  
                        <div class="col-md-6">  
                            <div class="form-group">  
                                <label asp-for="Name" class="control-label"></label>  
                                <input asp-for="Name" class="form-control" />  
                                <span asp-validation-for="Name" class="text-danger"></span>  
                            </div>  
                        </div>  
                        <div class="col-md-6">  
                            <div class="form-group">  
                                <label asp-for="Price" class="control-label"></label>  
                                <input asp-for="Price" type="number" class="form-control" />  
                                <span asp-validation-for="Price" class="text-danger"></span>  
                            </div>  
                        </div>  
                    </div>  
                    <div class="row">  
                        <div class="col-md-6">  
                            <div class="form-group">  
                                <label asp-for="Type" class="control-label"></label>  
                                <select asp-for="Type" class="form-control">  
                                    <option value="">Choose Type</option>  
                                    <option value="Rent">Rent</option>  
                                    <option value="Sale">Sale</option>  
                                    <option value="Lease">Lease</option>  
                                </select>  
                                <span asp-validation-for="Type" class="text-danger"></span>  
                            </div>  
                        </div>  
                        <div class="col-md-6">  
                            <div class="form-group"> 
                                 <label asp-for="ListingCategory" class="control-label"></label>  
                                <select asp-for="ListingCategory" class="form-control">  
                                    <option value="">Choose Listing Category</option>  
                                    <option value="Self_Contain">Self_Contain</option>  
                                    <option value="Mini_Flat">Mini_Flat</option>  
                                    <option value="Bedroom2_Apartment">Bedroom2_Apartment</option>  
                                    <option value="Bedroom3_Apartment">Bedroom3_Apartment</option>  
                                    <option value="Bungalow">Bungalow</option>  
                                    <option value="Duplex">Duplex</option>  
                                </select>  
                                <span asp-validation-for="Type" class="text-danger"></span>  
                                
                            </div>  
                        </div>  
                    </div>  
                    <div class="row">  
                        <div class="col-md-6">  
                            <div class="form-group">  
                                <label asp-for="Address" class="control-label"></label>  
                                <input asp-for="Address" class="form-control" />  
                                <span asp-validation-for="Address" class="text-danger"></span>  
                            </div>  
                        </div>  
                        <div class="col-md-6">  
                            <div class="form-group">  
                                <label asp-for="ContactInfo" class="control-label"></label>  
                                <input asp-for="ContactInfo" class="form-control" />  
                                <span asp-validation-for="ContactInfo" class="text-danger"></span>  
                            </div>  
                        </div>  
                    </div>  
                    <div class="row">  
                        <div class="col-md-6">  
                            <div class="form-group">  
                                 <label asp-for="Description" class="control-label"></label>  
                                <textarea asp-for="Description" class="form-control"></textarea> 
                                <span asp-validation-for="Description" class="text-danger"></span>   
                            </div>  
                        </div>  
                        <div class="col-md-6">  
                            <div class="form-group">  
                                <label asp-for="DefaultImage" class="control-label"></label>  
                                <div class="custom-file">  
                                    <input asp-for="DefaultImage"  class="form-control" type="file" accept=".jpg,.png,.jpeg">  
                                </div>  
                                <span asp-validation-for="DefaultImage" class="text-danger"></span>  
                            </div>  
                        </div>  
                    </div>  
                    <div class="row">  
                        <div class="col-md-6">  
                            <div class="form-check">
                                <input class="form-check-input" asp-for="Available" type="checkbox">
                                <label class="form-check-label" >This property is still Available.   </label
                          
                               </div>
                           </div>
                    </div>
                    <div class="form-group mt-2">  
                        <input type="submit" value="submit" class="btn btn-md btn-primary rounded-0 text-uppercase" />  
                        <a asp-action="Dashboard" class="btn btn-md btn-primary rounded-0 text-uppercase"><i class="fas fa-less-than"> </i> Back</a>  
                    </div>  
                </form>  
            </div>  
        </div>  
    </div>  

</div>